.mainBox {
    box-sizing: border-box;
    width: 170vh;
    height: 200px;
    background-color:#84a67f;
    border-radius: 20px;
    margin: 230px auto 0 auto;
}

.mainTitleText {
    font-size: 23px;
    color: white;
    margin-left: 50px;
    padding-top: 30px;
    font-weight: bold;
}

.mainText {
    font-size: 30px;
    color: white;
    margin-left: 45vh;
    line-height: 130%;
    margin-top: -10px;
}

.main2Container {
    box-sizing: border-box;
    width: 170vh;
    margin : 150px auto 0 auto;
}

.main2Text {
    font-size: 18px;
    font-weight: 500;
    line-height: 170%;
    margin-top: -90px;
}

.main2Text img {
    width: 60px;
    float: left;
}

.main2InBox {
    margin-top: 40px;
    margin-left: 10px;
    box-sizing: border-box;
    width: 169vh;
    height: 50px;
    background-color:rgba(132, 166, 127, 0.30000001192092896);
    border-radius: 30px;
    border-top-left-radius: 0px;
    font-weight: 500;
}

.main2InBox p {
    padding-top: 14px;
    padding-left: 40px;
}

.main3Container {
    color: black;
    display: flex;
    width: 170vh;
    justify-content: space-around;
    margin: 70px auto 0 auto;
}

.main3Box1 {
    background-color:#f9ecb1;
    width: 115vh;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 50px;
}

.main3Box1Text {
    font-size: 30px;
    margin-left: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
    line-height: 130%;
}

.main3Box1Section2 {
    display: flex;
    justify-content: start;
}

.main3Box1Section2 img {
    width: 150px;
    margin-top: -110px;
    margin-left: 100px;
}

.line {
    content: "";
    width: 50vh;
    margin-top: 13px;
    margin-left: 20px;
    background: black;
    height: 0.8px;
    font-size: 0px;
    line-height: 0px;
}

.Arrow {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-left: 0.5px solid black;
    border-bottom: 0.5px solid black;
    transform: rotate(-135deg);
    margin-top: 7.5px;
    margin-left: -12.5px;
}

.main3Box2 {
    background-color:#ffea8f;
    width: 47vh;
    height: 170px;
    border-radius: 10px;
    cursor: pointer;
}

.main3Box2Text {
    font-size: 22px;
    line-height: 130%;
    margin-top: 30px;
    margin-left: 20px;
}

.main3Box2Text img {
    width: 150px;
    margin-top: -50px;
    margin-left: 50px;
}

.main2Text2 {
    display: flex;
    justify-content: start;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.line2 {
    content: "";
    width: 20vh;
    margin-top: 17px;
    margin-left: 20px;
    background: black;
    height: 0.3px;
    font-size: 0px;
    line-height: 0px;
}

.Arrow2 {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-left: 0.5px solid black;
    border-bottom: 0.5px solid black;
    transform: rotate(-135deg);
    margin-top: 11px;
    margin-left: -11px;
}