.loginContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
  }
  
  .serviceName {
    font-weight: 700;
    font-family: 'Pretendard', sans-serif;
    text-align: left;
    font-size: 32px;
    margin-bottom: 30px;
    color :#000000;
  }

  .labelContainer{
    text-align: left;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-family: 'Pretendard', sans-serif;
    margin-top: 20px;
  }
  
  .inputField {
    position: relative;
    border-radius: 20px;
    border: 1px solid #000000;
    width: 420px;
    height: 60px;
    margin-top: 6px;
    padding-left: 30px;
    margin-bottom: 10px;
  }
  
  .checkboxContainer {
    display: flex;
    width: 460px;
    margin: 20px 0 30px 45px;
  }
  
  .checkbox {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #d9d9d9; 
    margin-right: 5px;
  }

  .checkbox2 {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #d9d9d9; 
    margin-right: 5px;
    margin-left: 25px;
  }
  
  .checkboxLabel {
    font-family: 'Pretendard', sans-serif;
    margin-right: 15px;
    font-weight: 400;
    color: #818181;
  }
  
  .no_LoginBtn { 
    background-color: #D9D9D9;
    height: 48px;
    width: 320px;
    border-radius: 15px;
    font-family: 'Pretendard', sans-serif;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid rgba(217, 217, 217, 0.3);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    cursor: not-allowed;
  }

  .loginBtn {
    background-color: #84A67F;
    cursor: pointer;
  }
  
  .loginP {
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    text-decoration: none;
  }
  
  .loginP2 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 1px;
    height: 16px; 
    border: 1px solid #d9d9d9;
    margin: 0 10px; /* 상 우 하 좌 */
  }
  
  .btnAndText {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
  }

  .btnAndText2 {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 420px;
    /* margin-left: 18px; */
  }

  .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:white;
    border-radius: 20px;
    border: 1px solid #000000;
    width: 420px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 6px;
    padding-left: 30px;
}

.inputField2{
    border: none;
    outline: none;
    padding: 0; 
    margin: 0; 
    background-color: transparent; 
    font-family: inherit; 
    font-size: inherit; 
    color: inherit;
    margin-right: 130px;
}

.Text{
  color:#D9D9D9;
  font-size: 12px;
}