.signup_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 80px auto 80px auto;
}

.signup_label{
    width: 540px;
    margin: 15px 0 3px 0;
}

.signup_checkbox_container{
    display: flex;
    flex-direction: row;
    width: 540px;
    margin : 40px 0 0px 0;
}

.signup_checkbox,
.signup_checkbox_p{
    color:#818181;
    font-size: 10px;
    text-align: left;
}


.signup_h2{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Pretendard', sans-serif;
}

.signup_id_container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    width: 570px;
  }
  
  .signup_p {
    flex: 1; 
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard', sans-serif;
  }
  
  .signup_check_p {
    flex: 1; 
    margin: 0 0 5px 0;
    text-align: right; 
    cursor: pointer;
    font-size: 14px;
  }

  .signup_check_msg{
    display: none;
  }
  
  .signup_check_msg_show{
    display: block;
    margin: 10px 0 0 0px;
    text-align: right; 
    color : #0075FF;
    font-size: 14px;
  }

.signup_pw_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin : -30px 0 -10px 0;
  }

.signup_pw_container2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin : 30px 0 -10px 0;
}

.input_error {
    color: #FF0000;
    border: 2px solid #FF0000; 
  }
  
  .signup_error_msg {
    color: #FF0000;
    text-align: right;
    font-size: 14px;
    margin : 10px 0 0 0;
  }

.signup_p2{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard', sans-serif;
}

.signup_pw_p{
    color:#818181;
    font-size: 12px;
    margin-left: 15px;
}

.signup_input{
    border-radius: 20px;
    border: 1px solid #000000;
    width: 540px;
    height: 60px;
    position: relative;
    padding-left: 30px;
}

/* ============================================= */

/* 생년월일 부분 */
.signup_date_contanier{
    padding-left: 30px;
    width: 580px;
    display: flex;
    justify-content: space-around;
}

.input_date{
    height: 60px;
    border-radius: 20px;
    border: 1px solid #000000;
    padding-left: 30px;
    width: 140px;
}

.input_date2{
    height: 60px;
    border-radius: 20px;
    border: 1px solid #000000;
    padding-left: 30px;
    width: 180px;
}

/* ============================================= */

/* 성별부분 */
.signup_gender{
    height:60px;
    width:480px;
    border-radius:15px;
    border:1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px 0 10px;
}

.signup_for{
    color : #909090;
    font-size: 16px;
    order : 1;
}

.signup_radio{
    width: 20px;
    height: 20px;
    order : 2;
}

.signup_radio:checked  +.signup_for {
    color: black; 
  }

  
.signup_gender2{
    display: flex;
    align-items: center;
    margin : 0 10px 0 10px;
}

.signup_select:focus{
    outline: none;
}

.signup_select{
    border : none;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 5px;
    width: 130px;
}

.signup_label2{
    width: 540px;
    margin: 15px 0 3px 0;
}

/* ============================================= */

/* 휴대전화 부분 */

.signup_phone{
    padding-left: 30px;
    width: 580px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.signup_input_phone{
    border-radius: 20px;
    border: 1px solid #000000;
    width: 350px;
    height: 60px;
    padding-left: 30px;
}

.signup_btn_phone{
    border-radius: 20px;
    width: 170px;
    height: 60px;
    background-color: #84A67F;
    color: white;
    font-size: 16px;
    border : 1px solid #84A67F;
}

.signup_input_phone2{
    border-radius: 20px;
    border: 1px solid #000000;
    width: 450px;
    height: 60px;
    padding-left: 30px;
    background-color:#f7f7f7;
}

.signup_btn_phone2{
    border-radius: 20px;
    width: 70px;
    height: 60px;
    font-size: 16px;
    background-color: white;
    border: 1px solid gray;
}

/* ==================================================== */
/* 첨부파일 부분 */

 input[type="file"] {  /*파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }
  
.file_container{
  display: inline-block;
  color: #999;
  font-size: 14px;
  line-height: 60px;
  vertical-align: middle;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #000000;
  width: 350px;
  height: 60px;
  padding-left: 30px;
}  

.file_p{
    text-align: left;
    width: 540px;
    font-size: 14px;
    margin-bottom: 10px;
}

.file_p2{
    text-align: left;
    width: 540px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.file_p3{
    text-align: left;
    width: 540px;
    font-size: 15px;
    font-weight: bold;
    margin:20px 0 20px 0;
    color : #e60000;
}

.file_p4{
    text-align: left;
    width: 540px;
    font-size: 12px;
    margin:0 0 20px 0;
}

.file_container_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 10px auto 20px auto;
    width: 540px;
}

.p_container{
    display: flex;
    flex-direction: column;
    width: 570px;
    align-items: flex-start;
    justify-content: center; 
    background-color: #f3f3f3;
    margin: 0 auto;
    padding: 8px 0 8px 20px;  /* 상우하좌 */
    font-size: 11px;
    color:#555555;
    text-align: left;
}

.signup_btn{
    display: flex;
    background-color: #84A67F;
    width:440px;
    height: 65px;
    border-radius:15px;
    color:white;
    justify-content: center;
    align-items: center;
    margin : 10px auto 0 auto; /* 상 우 하 좌 */
    border : 1px solid #84A67F;
    font-size: 20px;
}