.CommList_container{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin : 80px auto 0 auto;
}

/* 왼쪽 부분 */

.CommList_left{
    display: flex;
    flex-direction: column;
    margin : 0 -60px 0 60px;
    width: 30%;
}

.CommList_left_h2{
    font-family: 'Pretendard', sans-serif;
}

.CommList_left_p{
    color:#84a67f;
    font-family: 'Pretendard', sans-serif;
}

.CommList_left_p2{
    color:#cfcfcf;
    font-family: 'Pretendard', sans-serif;
}

/* ======================================================= */

/* 오른쪽 부분 */

.CommList_right{
    display: flex;
    flex-direction: column;
    margin : 0 auto 0 0px;
    width: 60%;
}

/* 오른쪽 헤드 (카테고리 부분) */
.CommList_right_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.header_p{
    color: #D9D9D9;
    font-size: 12px;
}

.header_p2{
    color : #84A67F;
    font-size: 12px;
}

.header_category{
    display: flex;
    flex-direction: column;
}

.header_btn{
    border-radius:30px;
    color:rgba(254, 254, 254, 0.5);
    background-color:rgba(132, 166, 127, 0.5);
    border : 1px solid rgba(132, 166, 127, 0.5);
    height: 25px;
    margin-right: 10px;
}

.selected_header_btn{
    border-radius:30px;
    color:#fefefe;
    background-color:#84a67f;
    border : 1px solid rgba(132, 166, 127, 0.5);
    height: 25px;
    margin-right: 10px;
}

/* ============================================== */

/* 중간부분 */

.CommList_right_mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin : 0 auto 0 0px;
    width: 100%;
}

.right_mid_p{
    font-size: 11px;
}

.right_mid{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-end;
}

.right_mid_btn{
    border-radius:30px;
    color:#fefefe;
    background-color:#84a67f;
    border : 1px solid rgba(132, 166, 127, 0.5);
    height: 25px;
    margin-bottom: 10px;
    width: 82px;
}

.right_mid_select{
    border-radius:30px;
    background-color:rgba(217, 217, 217, 0.5);
    border : 1px solid rgba(217, 217, 217, 0.5);
    height: 25px;
    text-align: center;
}

.CommList_right_main{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: left;
    padding:0 0 0 15px;
    margin : 30px auto 0 0px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #84a67f;
}

.CommList_main{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin : 0 ;
}

.CommList_main_bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.main_h3 {
    margin : 10px 0 10px 0 ;
}

.main_bottom{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    align-items: center;
}

.p_line{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1px;
    height: 16px; 
    border: 1px solid #d9d9d9;
}