.CommList_container{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin : 230px auto 0 auto;
}

/* 왼쪽 부분 */

.CommList_left{
    display: flex;
    flex-direction: column;
    margin : 0 -60px 0 60px;
    width: 30%;
}

.CommList_left_h2{
    font-family: 'Pretendard', sans-serif;
}

.CommList_left_p{
    color:#84a67f;
    font-family: 'Pretendard', sans-serif;
}

.CommList_left_p2{
    color:#cfcfcf;
    font-family: 'Pretendard', sans-serif;
}

/* ======================================================= */

/* 오른쪽 부분 */

.CommList_right{
    display: flex;
    flex-direction: column;
    margin : 0 auto 0 0px;
    width: 60%;
}

/* 오른쪽 헤드 (카테고리 부분) */
.CommList_right_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.header_p{
    color: #D9D9D9;
    font-size: 12px;
}

.header_p2{
    color : #84A67F;
    font-size: 12px;
}

.header_category{
    display: flex;
    flex-direction: column;
}

.header_btn{
    border-radius:30px;
    color:rgba(254, 254, 254, 0.5);
    background-color:rgba(132, 166, 127, 0.5);
    border : 1px solid rgba(132, 166, 127, 0.5);
    height: 25px;
    margin-right: 10px;
}

.selected_header_btn{
    border-radius:30px;
    color:#fefefe;
    background-color:#84a67f;
    border : 1px solid rgba(132, 166, 127, 0.5);
    height: 25px;
    margin-right: 10px;
}

/* ============================================== */

/* 중간부분 */

.CommList_right_mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin : 0 auto 0 0px;
    width: 100%;
}

.right_mid_p{
    font-size: 11px;
    margin-bottom: -50px;
}

.right_mid{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: self-end;
}

.right_mid_btn{
    border-radius:30px;
    color:#fefefe;
    background-color:#84a67f;
    border : 1px solid rgba(132, 166, 127, 0.5);
    height: 25px;
    margin-bottom: 10px;
    width: 82px;
}

.right_mid_select{
    border-radius:30px;
    background-color:rgba(217, 217, 217, 0.5);
    border : 1px solid rgba(217, 217, 217, 0.5);
    height: 25px;
    text-align: center;
}

.CommList_right_main{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: left;
    padding: 10px 0 10px 15px;
    margin : 30px auto 0 0px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #84a67f;
}

.CommList_main{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin : 0;
    padding: 0;
    width: 100%;
}

.CommList_main_bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.main_h3 {
    margin : 20px 0 10px 0 ;
}

.main_bottom{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    font-size: 10px;
}

.main_bottom2{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
}

.p_line{
    background-color: #d9d9d9;
    width: 1px;
    height: 11px; 
    /* border: 1px solid #d9d9d9; */
    margin : 0 10px;
}

.main_img{
    width: 15px;
    height: 15px;
    color : #bfbfbf;
}

.main_p{
    font-weight: 500;
    margin-bottom: 0;
}

.main_p2{
    color:#b6b6b6;
    margin-bottom: 0;
}

.main_icon{
    margin : 0 5px;
}

.line{
    border-bottom: 2px solid rgba(132, 166, 127, 0.5) ;
    width: 102%;
    margin-left: -15px;
}


/* ============================================== */

/* 글작성 부분 */
.header_category2{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.write_header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin : 10px auto;
}

.write_header2{
    display: flex;
    margin : 10px auto;
    
}

.write_header3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin : 5px 0;
    width: 100%;
}

.write_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin : 0 auto 0 0px;
    width: 100%;
}

.write_title{
    font-family: 'Pretendard', sans-serif;
    margin : auto 5px auto 0;
    font-size: 20px;
    width: 8%;
}

.write_title2{
    font-family: 'Pretendard', sans-serif;
    margin : auto 5px auto 0;
    font-size: 20px;
    width: 8%;
}

.write_title3{
    font-family: 'Pretendard', sans-serif;
    margin-right: 5px;
    margin-top: -1px;
    font-size: 20px;
    width: 8%;
}

.write_select{
    appearance:none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACESURBVHgBjU6xDYAgEATtqIQJdAPtHENHcAM3UEdxAi3tdAQ3gY4SD6OREBK8hPzd/x3/VAgxGmMG8gPwTanW+mCMceg6ZlZKjakVCG0IFaBlyEwpnaWU/c3dAed8QWk8/wpz+4rEW9uhnE7rfHrfNu83kgE4YbcU5gp3KxIDMrl9odkFCIUwf7NPregAAAAASUVORK5CYII=') 
    left 50px center no-repeat;
    padding: 0 100px;
    background-color:#ffffff;
    height:51px;
    width:750px;
    border-radius:15px;
    border:1px solid #84a67f;
}

.CommList_left_h22{
    display: flex;
    font-family: 'Pretendard', sans-serif;
    justify-content: left;
    width: 100%;
}

.write_input{
    padding-left: 60px;
    background-color:#ffffff;
    height:51px;
    width:760px;
    border-radius:15px;
    border:1px solid #84a67f;
}

.write_textarea{
    padding-left: 40px;
    padding-top: 50px;
    background-color:#ffffff;
    height:510px;
    width:760px;
    border-radius:15px;
    border:1px solid #84a67f;
    resize: none;
}

.cancell_btn{
    background-color:#b9b9b9;
    border : 1px solid #b9b9b9;
    height:41px;
    width:101px;
    border-radius:30px;
    color: #ffffff;
    font-size: 20px;
}

.add_btn{
    background-color:#84a67f;
    border : 1px solid #84a67f;
    height:41px !important;
    width:101px !important;
    border-radius:30px !important;
    color: #ffffff;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 60px;
}

/* ==================================== */

/* 글 + 댓글 부분 */

/* 이게 전체 */
.view_right{
    display: flex;
    flex-direction: column;
    margin : 10px auto 0 140px;
    width: 100%;
}

/* 중간 라인 선 */
.view_line{
    width:240px;
    border:1px solid #84a67f;
}

/* 제목과 북마크 부분 */
.view_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 740px;
    margin-bottom: 30px;
}

/* 제목텍스트 */
.view_h4{
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

/* 닉넴 이미지 등등 부분 */
.view_nick{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    font-size: 10px;
    margin-top: -30px;
}

/* 이미지 */
.view_img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

/* 닉넴 */
.view_p{
    font-size: 15px;
    font-weight: blod;
    margin-right: 10px;
}

/* 날짜 */
.view_p2{
    margin-right: 10px;
}

/* 수정 및 삭제 */
.view_p3{
    margin-right: 10px;
    color:#575757;
}

/* 내용 부분 */
.view_content{
    width: 720px;
    font-family: 'Pretendard', sans-serif;
}

/* 끄덕임 버튼 */
.view_btn{
    background-color:rgba(217, 217, 217, 0.5);
    border : 1px solid rgba(217, 217, 217, 0.5);
    height:41px;
    width:156px;
    border-radius:30px;
    margin: 20px 0 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 버튼 속 아이콘 */
.view_icon{
    margin-right: 10px;
}

/* 댓글과 버튼 */
.view_comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 740px;
    height: 60px;
    margin-bottom: 45px;
}

/* 댓글 입력 */
.view_input{
    background-color:rgba(132, 166, 127, 0.30000001192092896);
    border: 1px solid rgba(132, 166, 127, 0.30000001192092896);
    height:60px;
    width:600px;
    border-radius:15px;
    padding-left: 30px;
}

/* 추가 버튼 */
.add_btn{
    background-color:rgba(132, 166, 127, 0.800000011920929);
    border: 1px solid rgba(132, 166, 127, 0.30000001192092896);
    height:60px;
    width:110px;
    border-radius:15px;
    text-align: center;
    margin-top: 60px;
}

/* 댓글보기 */
.view_show_comment{
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 0 20px 0 20px;
}

/* 압정 아이콘 */
.view_show_icon{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: -10px;
}

/* 프사 */
.show_comment_img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* 전문가 닉 */
.pronick_comment{
    color:#ffd000;
    font-size: 15px;
    margin-right: 10px;
}

/* 댓글 내용 */
.view_comment{
    display: flex;
    width: 720px;
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    margin: 20px 0 70px 0;
}

/* ========================= */
/* 전문가용 닉 */
.view_pro_p{
    color:#ffd000;
    font-size: 15px;
    font-weight: blod;
    margin-right: 10px;
}