.pageText {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    margin-top: 230px;
}

.boxUpTextBox {
    box-sizing: border-box;
    width: 1670px;
    border-radius: 10px;
    margin-top: 130px;
    margin-left: 10px;
}

.boxUpText {
    display: flex;
    font-size: 15px;
    padding: 10px;
    background-color: #f0f0f0;
}

.boxUpText p {
    flex: 1;
    text-align: center;
    margin: 0;
    width: 10%;
}

.stateBox {
    box-sizing: border-box;
    width: 1670px;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow-x: auto;
    margin-left: 10px;
}

.stateBox button {
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: #d9d9d9;
    color: white;
    text-align: center;
}

.acceptbut {
    background-color: #84a67f;
}

.rejectbut {
    background-color: #ffd000;
}

.stateText {
    display: flex;
    border-bottom: solid 1px black;
    padding: 10px;
    background-color: #f9f9f9;
}

.item {
    flex: 1;
    text-align: center; /* 중앙 정렬 */
    padding: 5px 0;
    width: 10%; /* Set a width to ensure consistent column sizing */
}
