.pageText {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    margin-top: 250px;
}

.boxUpTextBox {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    margin-top: 100px;
}

.boxUpText {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
    background-color: #f0f0f0;
}

.boxUpText p {
    flex: 1;
    text-align: center; /* 중앙 정렬 */
    margin-right: 15px;
}

.stateBox {
    box-sizing: border-box;
    width: 100%;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow-x: auto;
}

.stateBox button{
    border: none;
    width: 70px;
    height: 50px;
    border-radius: 50px;
    background-color:#d9d9d9;
    color: white;
}

.acceptbut{
    background-color:#84a67f;
}

.rejectbut{
    background-color:#ffd000;
}

.stateText {
    display: flex;
    border-bottom: solid 1px black;
    padding: 10px;
    background-color: #f9f9f9;
}

.item {
    flex: 1;
    text-align: center; /* 중앙 정렬 */
    padding: 5px 10px;
}