@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', sans-serif;
}


a{
  text-decoration: none;
  color: inherit;
}

/* .App {
  min-height: 100vh;
  padding-left: 90px;
  padding-right: 90px;
} */