@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
  color: inherit;
}

/* .App {
  min-height: 100vh;
  padding-left: 90px;
  padding-right: 90px;
} */